extends layout

block headExtensions
  link(rel='stylesheet', href='/css/admin.css')
block content
  .content
    h1.currentMainTitle
      span Gestao
    //PRODUCTS
    .productsOption
      h1.currentMainTitle
        span Produtos
      #addProduct
        button(type='submit' id='addProductBtn' onclick='displayPopup()') Adicionar Produto
        include addOns/addProductPopup
      #productsTableContent
        input(type='hidden' id='products' value=StringifyProducts)
        table
          thead
            tr
              th Nome
              th Tipo
              th Preco
              th Stock
              th Modificar
              th Remover
          tbody
            each product in products
              tr(id=product._id onclick='redirectToProduct(this)')
                td #{product.name}
                td -
                td #{product.price}
                td #{product.stock}
                td
                  button(type='submit' value='productId' class='modifyProduct' onclick='openProductPopup(event, this)') Modificar
                td
                  button(value=product._id class='deleteProduct' onclick='deleteProduct(event, this)') Remover
  script(src='/js/admin.js')
