extends layout

block headExtensions
  link(rel='stylesheet', href='/css/homepage.css')
  link(rel='stylesheet', href='/css/updateHomepage.css')
  link(rel='stylesheet', href='/css/products.css')
  link(rel='stylesheet', href='/css/grid.css')
block content
  .content
    include addOns/mainLogo
    #products
      h1.currentMainTitle
        span Descobre mais sobre beleza natural
      each product in pageProducts
        include addOns/productFrame
    if user.admin == true
      include grid/addGrid
    h1.currentMainTitle
      span As nossas ideias
    #sections.inputCentered
      each grid in grids
        .gridContainer
          .grid(id=grid._id class=grid.pattern)
            each section in grid.sections
              .albumContent(id=section._id class=section.title)
                form(method='post' action='/section' class="alignCenter")
                  input(type='hidden' name='sectionTitle' value=section.title)
                  input(type='hidden' name='sectionId' value=section._id)
                  button(type='submit' class="alignCenter")
                    p #{section.title}
                    img(src=section.mainImg class="containImg")
    .mainTitle
      span Sobre nós
    #about
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    .mainTitle
      span Contacte-nos
    #contact
      form(id="contactForm")
        .inputCentered
          label(for="senderName") Nome
          input(type="text" id="senderName" name="senderName" required)
        .inputCentered
          label(for="senderEmail") Email
          input(type="email" id="senderEmail" name="senderEmail" required)
        .inputCentered
          label(for="senderSubject") Assunto
          input(type="text" id="senderSubject" name="senderSubject" required)
        .inputCentered
          label(for="senderContent") Descrição
          textarea(id="senderContent" name="senderContent" required)
        .inputCentered
          button(name="saveEmail" class="smallBtn") Enviar
  script(src='/js/products.js')
  script(src='/js/grid.js')
  script(src='/js/emailFront.js')
